<html lang="en">
  <%- include("../etc/head.ejs") %>

  <body class="main-bg">
    <!-- Login Form -->
    <div class="container">
      <div class="row justify-content-center center">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card bg-dark1 text-light">
            <div class="card-body login">
              <h2 class="p-3 text-center mb-3">Register</h2>
              <form onsubmit="return false" id="form">
                <div class="mb-4">
                  <label for="nama" class="form-label">Nama</label>
                  <input
                    type="text"
                    class="form-control"
                    id="nama"
                    placeholder="Masukan nama anda"
                  />
                </div>
                <div class="mb-4">
                  <label for="username" class="form-label">NIK</label>
                  <input
                    type="text"
                    class="form-control"
                    id="nik"
                    placeholder="Masukan NIK anda"
                  />
                </div>
                <div class="mb-4">
                  <label for="password" class="form-label">Kata sandi</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    placeholder="Masukan password anda"
                  />
                </div>
                <div class="d-grid">
                  <button type="submit" class="btn text-light main-bg">
                    Daftar
                  </button>
                </div>
                <p class="m-0 mt-4 text-small text-center">
                  Anda sudah punya akun ? <a href="/login">klik disini</a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
    <script>
      $("#form").on("submit", () => {
        const nama = document.getElementById("nama").value;
        const nik = document.getElementById("nik").value;
        const password = document.getElementById("password").value;
        $.ajax({
          url: "/daftar",
          type: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          data: JSON.stringify({ nama, nik, password }),
          success: function (response) {
            window.location = "/login";
          },
          error: function (jqXHR, textStatus, errorThrown) {
            console.log(jqXHR.responseJSON.msg);
          },
        });
      });
    </script>
  </body>
</html>
